mixin video(video)
    div.video-mixin
        a(href=`/videos/${video.id}`)
            div.video-mixin__thumb
                img(src=video.thumbUrl, crossorigin)
            span.video-mixin__title=video.title  
        div.video-mixin__meta
            a(href=`/users/${video.owner.id}`) 
                span #{video.owner.name} ·     
            span #{video.meta.views} 회   
